<html>
<head>
	<title>React Hello World</title>
</head>
<body>
	<h1>ReactNette</h1>
	<p>
		<b>Hello world:</b> {$var}
	</p>
	<p>
		<code>number={$number}</code>
	</p>
	<p>
		{control testForm}
		<code n:ifset="$message">{$message}</code>
	<p>
</body>
</html>
